html {
  font-family: Open Sans;
  background: #CFBCFB;
}

body {
    color: #312450;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;
}

.h1Lobster {
  font-family: Lobster;
  font-size: 12vw;
  text-align: center;
}

.h2Lobster {
  font-family: Lobster;
  font-size: 3vw;
  text-align: center;
}

.pmonospace {
    font-family: monospace;
    text-align: center;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #312450;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  line-height: 2;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1vw;
  color: #CFBCFB;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.twitter {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
}  

.twitter .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
.twitter a {
    position: relative;
}    

.twitter a img {
      width: 48px;
      height: 48px;
    }
  
.twitter p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: #FFF;
    font-weight: bold;
    margin-top: 20px;
}

.recipe-img {
  width: 25%;
}

.recipes-list{
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BIGDIV {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
}

/* The flip card container*/
.flip-card {
  background-color: transparent;
  width: 20vw;
  height: 20vw;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #cfbcfb;
  color: #312450;
}

/* Style the back side */
.flip-card-back {
  background-color: #312450;
  color: white;
  font-size: 14px;
  font-family: Quicksand;
  transform: rotateY(180deg);
  overflow: auto;
}

/* If the screen size is 600px wide or less, set the font-sizes smaller */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 10px;
  }
  p {
    font-size: 5px;
  }
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;    
    }

.textcenter {
    text-align: center;
}
